<div>

	<div id="new-story-header">
	<h1>New Story</h1>
	</div>

	<div id="new-story-title">
		<label for="article_title">Title</label>
		<input name="article[title]" id="article_title"></input>
	</div>

	<div id="new-story-body">
		<label for="article_body">Body</label>
		<textarea name="article[body]" id="article_body"></textarea>
	</div>
	
	<button class="submit">Submit</button>
	<button class="cancel">Cancel</button>

</div>